
    body {
        background-color: #0B0B3B;
        color: #f8f8f8;
        margin: 0;
        padding: 0;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    }
    div {
        width: 600px;
        margin: 7em auto;
        padding: 2em;
        background-color: #595893;
        border-radius: 0.5em;
        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
    }
    h1{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    a:link, a:visited {
        color: #38488f;
        text-decoration: none;
    }
    .curtain{
        float: right;
        text-align: center;
        padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

    }
    .towel{
        float: none;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
    }

    @media (max-width: 700px) {
        div {
            margin: 0 auto;
            width: auto;
        }
    }